<div class="container">
  <% @questions.each do |question| %>
    <ul>
      <li><a href=" <%= "/questions/#{question.id}" %>"><%= question.title %></a></br>
        <form method="post", action=" <%= "/questions/#{question.id}" %>" >
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete question">
        </form>
      </li>
    </ul>
  <% end %>
</div>
