<container id="login_form">
  <h1>Log In!</h1>

  <form class="" action="/sessions" method="post">
    <label for="username">Username:</label></br>
    <input type="username" name="username" value=""></br></br>

    <label for="password">Password:</label></br>
    <input type="password" name="password" value=""></br></br>

    <input class="button" type="submit" value="Log In">
  </form>

  <% if @errors %>
  <h1> <%=@errors %> </h1>
  <% end %>
</container>
