body {
  width: 900px;
  margin: 0 auto;
}

header {
  width: 900px;
}

.layout h1 {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0px 100px 40px;
  background-color: #ffff00;
  display: block;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: -1px;
  border-radius: 10px;
}

.layout nav {
  margin-left: 900px;
}

.container {
  margin: 20px auto;
  width: 900px;
  padding: 20px 0px 20px 40px;
  background-color: #faebd7;
  border-radius: 10px;
}

.container h2 {
  font-family: Times New Roman, times-roman, georgia, serif;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: -1px;
  color: #666666;
}

.question_display {
  width: 800px;
  border-top: 1px solid #666666;
  padding: 20px 20px;
  display: inline-block;
}

.count_box {
  width: 25px;
  height: 25px;
  float: left;
  padding: 15px;
  margin: 5px;
}

.right {
  margin-right: 30px;
}
.question_title {
  padding-top: 15px;
}

.caption {
  width: 30px
  font-family: sans-serif;
  font-size: 10px;
  color: #666666;
  text-align: center;
  margin: 0 auto;
}

.number {
  width: 30px
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666666;
  text-align: center;
  margin: 0 auto;
}

.title {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
}

.q {

}

.single_question {
  display: inline-block;
}

.vote_buttons {
  display: inline-block;
  float: left;
  margin-right: 25px;
}

.vote-up button {
  background-color: #faebd7;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: #faebd7 #faebd7 #007bff #faebd7;
  margin-bottom: 2px;
}

.vote-down button {
  background-color: transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #007bff transparent transparent transparent;
  margin-top: 2px;
}

.nav_menu {
  float: right;
  margin-right: 5%;
}

.burger_button div {
 position: absolute;
 right: 100%;
 top: 50%;
 padding-left: 8px;
 margin-top: 1em;
 line-height: 1.2;
 font-size: 18px;
 font-weight: 200;
 vertical-align: middle;
 z-index: 99;
}

.burger_button span {
 display: block;
 width: 19px;
 height: 3px;
 margin: 4px 0;
 background: rgb(0,0,0);
 z-index: 99;
}

.responsive_burger_button {
  display: none;
}

.expand {
  display: block !important;
}

#login_form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

form.new_user {
  display: none;
}

table {
  width: 60%;
  margin: auto;
}



.responsive_burger_button ul li {
  list-style: none;
  display: block;
  width: 150px;
  background-color: grey;
  right: 100%;
}

.question_table {
  height: 2em;

nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  display: none;
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

.username {
	font-style: italic;
	font-size: 80%;
}

.article_list {
  border: 1px solid black;
}
