.vote-up {
  background-color: transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #007bff transparent;
  margin-bottom: 2px;
}

.vote-down {
  background-color: transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #007bff transparent transparent transparent;
  margin-top: 2px;
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.questions {
  list-style-type: none
}

* {
	margin: 0;
	padding: 0;
}

body,
html {
		height: 100%;
}

.nav_menu {
  float: right;
  margin-right: 5%;

}

.burger_button div {
 position: absolute;
 right: 100%;
 top: 50%;
 padding-left: 8px;
 margin-top: 1em;
 line-height: 1.2;
 font-size: 18px;
 font-weight: 200;
 vertical-align: middle;
 z-index: 99;
}

.burger_button span {
 display: block;
 width: 19px;
 height: 3px;
 margin: 4px 0;
 background: rgb(0,0,0);
 z-index: 99;
}



.responsive_burger_button {
  display: none;
}

.expand {
  display: block !important;
}

#login_form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

form.new_user {
  display: none;
}

table {
  width: 60%;
  margin: auto;
}

header {
  float: right;
}

.responsive_burger_button ul li {
  list-style: none;
  display: block;
  width: 150px;
  background-color: grey;
  right: 100%;
}

table, th, td {
  border: 1px solid black;
}

.question_table {
  height: 2em;

.container h1 {
  font-size: 17pt;

}

nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  display: none;
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

.username {
	font-style: italic;
	font-size: 80%;
}

.article_list {
  border: 1px solid black;
}
